@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(45, 54, 54);
  color: white;
  list-style: none;
}
