.pdf-container {
  display: flex;
  justify-content: space-around;
}

.download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35vw;
  height: 30em;
  background-color: rgba(255, 255, 255, 0.684);
  align-items: center;
}

.download > div {
  text-align: center;
}

.send {
  justify-content: center;
  width: 35vw;
  height: 30em;
  background-color: rgba(255, 255, 255, 0.583);
  align-items: center;
  display: flex;
  flex-direction: column;
}

.ant-layout {
  height: 100vh;
}

.information {
  display: flex;
  justify-content: center;
  margin-bottom: 7em;
}

.information > img {
  max-height: 30vh;
  max-width: 40vw;
}

#download-text {
  margin-bottom: 4em;
  font-size: 17px;
  text-align: center;
}
