.ant-menu-item-selected {
  background-color: #a47bad23 !important;
}

#logo-title {
  height: "75px";
  color: "white";
  font-size: "2.1em";
  text-align: "center";
  padding: "15px 0 15px 0";
  border-bottom: "1px solid #a8a6a4";
}
