.container {
  padding: 30px;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
}

.logo-image {
  width: 550px;
  padding-left: 15px;
  padding-top: 8px;
}

.login-form {
  display: flex !important;
  flex-direction: column !important;
  width: 225px !important;
  height: 200px !important;
  margin-top: 33vh !important;
  margin-left: 49vw !important;
  padding: 25px !important;
  box-shadow: rgb(83 91 99 / 20%) 6px 6px 6px 4px !important;
  border-radius: 15px !important;
  background-color: #1d2366 !important;
  align-items: center !important;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
  transform: scale(1) !important;
}

.login-form-button {
  align-items: center;
  border-radius: 15px;
  width: 90px;
  font-size: 18px;
  height: 40px;
}

.login-form:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.07);
}

.login-form:hover::after {
  opacity: 1;
}

.login-form::after {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes animateHeart {

  /*  scale down and scale up faster in irregular intervals to get the throbbing effect */
  0% {
    transform: translate(-10px, -50px) scale(0.95);
  }

  5% {
    transform: translate(-10px, -50px) scale(0.975);
  }

  10% {
    transform: translate(-10px, -50px) scale(0.95);
  }

  15% {
    transform: translate(-10px, -50px) scale(1);
  }

  50% {
    transform: translate(-10px, -50px) scale(0.95);
  }

  100% {
    transform: translate(-10px, -50px) scale(0.95);
  }
}

.heart {
  transform-origin: center center;
  /* animation: <animation-name> <animation-duration> <animation-iteration-count> */
  animation: animateHeart 2s infinite;
}

/* https://learnwithparam.com/blog/hearbeat-animation-using-css/ */
