.container {
  background-image: url('../../assets/undraw_medicine.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 20px auto;
  width: 90vw;
  height: 90vh;
}

.logo-image {
  width: 700px;
  z-index: 9;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 20vh;
  margin-top: 20vh;
  margin-left: 78vh;
  padding: 25px;
  box-shadow: rgb(83 91 99 / 20%) 6px 6px 6px 4px;
  border-radius: 15px;
  background-color: #1d2366;
  opacity: 1;
  align-items: center;
}

.login-form-button {
  align-items: center;
  border-radius: 15px;
  width: 90px;
}